:root {
  --backgroundDark: #191414;
  --spotifyGreen: #1db954;
}
.app > h1 {
  color: azure;
  text-align: center;
}

.app > h2 {
  color: var(--spotifyGreen);
  align-items: center;
  text-align: center;
  margin: 50px;
  font-size: xx-large;
}
